<div class="panel panel-default ranking">
  <div class="panel-heading">
    <h3 class="panel-title">Ranking</h3>
  </div>
  <ol class="list-group">
    <% get_ranking.each do |user| %>
      <li class="list-group-item"><%= user.username %> <span class="badge"><%= user.experience %></span> </li>
    <% end %>
  </ol>
</div>
