<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>BEM VINDO AO PLANETÁRIO!</h1>
            <h3>Embarque na nossa nave e explore o Universo da matemática!</h3>
        </hgroup>
        <%= link_to new_user_session_path, class: 'btn btn-hero btn-lg' do %>
          Navegar
        <% end %>
      </div>
    </div>
  </div>
</div>
