<div class="signin">
    <div class="materialContainer">
      <div class="box">
          <%= render 'login' %>
      </div>

      <div class="overbox">
        <%= link_to new_user_registration_path do %>
          <div class="material-button alt-2"><span class="shape">
        <% end %>
        </span></div>
      </div>
    </div>
</div>
