<div class="container">
  <div class="questionnaires_<%= action_name %>">
    <h1>
      Atividades
    </h1>
    <hr>
    <% if @surveys.empty? %>
      <p> Não há lições. </p>
    <% else %>
      <div class="row bootstrap snippets">
        <%= render partial: 'survey', collection: @surveys %>
      </div>
      <%= paginate @surveys %>
    <% end %>
  </div>
</div>
