<div class="container">
  <div class="row questionnaires_<%= action_name %>">
    <h1><%= @lesson.name if @lesson %></h1>
    <div class="col-md-10 col-md-offset-1">
      <% if @surveys.empty? %>
        <p>Ainda não há missões neste planeta.</p>
      <% else %>
        <h2>Missões</h2>
        <div class="row">
          <% if params[:lesson] %>
            <%= render partial: 'survey', collection: @surveys %>
          <% elsif current_user.teacher %>
            <% controller.redirect_to lessons_path %>
          <% end %>
        </div>
        <%= paginate @surveys %>
      <% end %>
    </div>
  </div>
</div>
