<div class="container">
  <div class="row questionnaires_<%= action_name %>">
      <h1>
        Missões
      </h1>
      <div class="col-md-9">
      <% if @surveys.empty? %>
        <p> Não há lições. </p>
      <% else %>
        <div class="row bootstrap snippets">
          <%= render partial: 'survey', collection: @surveys %>
        </div>
        <%= paginate @surveys %>
      <% end %>
    </div>
  <div class="col-md-3 sidebar">
    <%= render 'shared/ranking' %>
  </div>
</div>
</div>
