/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.image-question{
  text-align: center;
}
.celebration {padding:0; height: 45vh; text-align: center;}
.celebration img {height:100%}
.check-success {
    background: #FFF;
    border-radius: 20px;
    color: #99cc00;
    font-size: 30px;
    padding: 4px 6px;
    top: -12px;
    right: -12px;
    position: absolute;
}
.card_bloom_level{
  background-color: #CCC;
  color: #FFF;
  font-weight: bold;
  padding-top: 5px;
}
.level_number{
  font-size: 40px;
  line-height: 0.75;
}
.nivel_1{background-color: #44c5f9}
.nivel_2{background-color: #f18723}
.nivel_3{background-color: #f6373f}
