<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2 class="modal-header">
        Missão cumprida! +10 XP
        <p><small><%= @attempt.survey.name %></small></p>
      </h2>
      <div class="modal-body celebration">
        <%= image_tag "celebration.gif" %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Continuar', surveys_path, class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>
</div>
